{% extends 'game/base.html' %}

{% block content %}
<p class="system-msg">Scanning for narrative files...</p>
<br>

<h2>AVAILABLE_MODULES:</h2>

{% if stories %}
<ul style="list-style-type: none; padding: 0;">
    {% for story in stories %}
    <li style="margin-bottom: 20px;">
        <span>> FILE_ID_{{ story.id }}: </span>
        <strong style="text-transform: uppercase;">{{ story.title }}</strong>
        <br>
        <span style="color: #ccc;">&nbsp;&nbsp;DESCRIPTION: {{ story.description }}</span>
        <br>
        <div style="display: flex; gap: 15px; align-items: center;">
            {% if story.has_save %}
            <a href="{% url 'play_story' story.id %}" style="color: #ffff33;">
                [ >> RESUME_SESSION ]
            </a>

            <a href="{% url 'restart_story' story.id %}" style="color: #ff3333; font-size: 0.8em;">
                [ X DELETE_SAVE ]
            </a>
            {% else %}
            <a href="{% url 'play_story' story.id %}">
                [ EXECUTE_STORY.EXE ]
            </a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p style="color: red;">ERROR: No story modules found in database.</p>
{% endif %}
<div class="separator"></div>
<a href="{% url 'global_stats' %}">[ VIEW_GLOBAL_STATS ]</a>
{% endblock %}